﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="header">
        <h1>
            ASP.NET MVC MUSIC STORE</h1>
        <ul id="navlist">
            <li class="first"><a href="~/" id="current">Home</a></li>
            <li><a href="~/Store/">Store</a></li>
        </ul>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>